<ion-header>
  <ion-toolbar>
    <ion-title>story</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row>
      <ion-slides [options]="slideOpts">
        <ion-col>
        <ion-thumbnail>
          <ion-img  src="assets/imgs/addIcon.png" (click)="addStory()"></ion-img>
        </ion-thumbnail>
      </ion-col>
        <ion-slide *ngFor="let item of storiesValue; let i = index">
         
          <ion-col>
            <!-- {{item.storyUrl}} -->
            <ion-fab>
              <ion-fab-button slot="fixed">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
           
            <ion-thumbnail>
              <!-- <ion-icon *ngIf="i === 0" name="add" color="dark" style="border-color: black;border-radius: 50px;"></ion-icon> -->
              <img  [src]="item.storyUrl" (click)="viewStory(item.storyUrl)"/>
            </ion-thumbnail>
            <p>
              <ion-text color="dark">{{item?.name}}</ion-text>
            </p>
          </ion-col>
        </ion-slide>
      </ion-slides>
    </ion-row>
</ion-content>
