div{
    display: flex;
    flex-direction: center;
    background-color: royalblue;
}

.container{
    background-color: red;
}
img{
    margin-top: 50%;
}
#cont{
    background-color: palevioletred;
}
.scroll-y{
    background-color: palevioletred;
}