<ion-header>
  <ion-toolbar>
    <ion-button slot="start"  (click)="back()" class="notification">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-button slot="end" routerLink="" class="homebutton">
      <ion-icon name="glasses"></ion-icon>
    </ion-button>
    <ion-title slote="end">Add Story</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <!-- <form>
        <input type="file" (change)="imageOnClick($event)">
    </form>
    <img [src]="fileInput"/>
    <input type="button" value="Share Story" (click)="submit()"> -->
    <!-- <input type="button" (click)="submit()" >
      Share story
    </input> -->

<div class="addpost-content">
  <form >
    <ion-progress-bar type="indeterminate" *ngIf="inprogress"></ion-progress-bar>
      <ion-input name="file" class="upload" *ngIf="isSelected===false" type="file" accept="video/*,image/*" name="myfile" (change)="imageOnClick($event)"></ion-input>
        <p class="upload-content" *ngIf="isSelected===false"> Upload  <ion-icon name="image-outline" class="img-icon"></ion-icon>   or   <ion-icon name="videocam-outline" class="video-icon"></ion-icon> from gallery</p>
        <div class="selected-post" *ngIf="isSelected">
          <ion-icon name="close-circle-outline" class="closeIcon" (click)="selectedStatus()" *ngIf="noImagePost===false"></ion-icon>
          <ion-img  class="selecteimage"  [src]="url" *ngIf="format==='image' && url" ></ion-img>
          <video class="selectedvideo" [src]="url" *ngIf="format==='video' && url" controls></video>
        </div>

          <ion-item>
            <ion-textarea name="comments" [(ngModel)]="comments">What's in your mind?</ion-textarea>
          </ion-item>

          <ion-list>

            <ion-item>
              <ion-label>Accessbility</ion-label>
                <ion-item>
                  <ion-label>Private</ion-label>
                  <ion-toggle (click)="changeAccessbility()" id="accessbility" ></ion-toggle>
                </ion-item>
            </ion-item>

          </ion-list>

          <button  type="submit">Share</button>
    </form>
    </div>

</ion-content>
